{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="{{request.LANGUAGE_CODE}}">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="language" content="{{request.LANGUAGE_CODE}}" />
<title>{% trans "Printable Bitcoin Cash (BCH) Tips" %}</title>
<meta name="keywords" content="{% trans "Bitcoin" %}, {% trans "tips" %}" />
<meta property="og:image" content="https://tips.bitcoin.com/static/img/tips-twitter-card4.jpg"/> 
<meta name="description" content="{% trans "Print redeemable Bitcoin Cash (BCH) tips with Bitcoin.com Tips" %}. {% trans "Each Tip has a unique URL" %}." />
<meta property="og:url" content="https://tips.bitcoin.com" />
<meta property="og:title" content="{% trans "Printable Bitcoin Cash (BCH) Tips" %}" />
<meta property="og:description" content="{% trans "Give Bitcoin Cash (BCH) Tips and redeem uncollected tips at a fixed expiration date" %}. {% trans "Each Tip has a unique URL" %}." />
<meta property="og:site_name" content="tips.bitcoin.com" />
<meta property="og:type" content="website" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@BTCTN">
<meta name="twitter:title" content="{% trans "Printable Bitcoin Cash (BCH) Tips" %}">
<meta name="twitter:description" content="{% trans "Give Bitcoin Cash (BCH) Tips and redeem uncollected tips at a fixed expiration date" %}. {% trans "Each Tip has a unique URL" %}.">
<meta name="twitter:image" content="https://tips.bitcoin.com/static/img/tips-twitter-card4.jpg">

<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="shortcut icon" href="/static/img/favicon.png" />

<link href="/static/css/bchtip.css?version-0.1" rel="stylesheet" />
<link href="/static/css/bootstrap-grid.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="/static/css/layout.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">

<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5N6TL56');</script>
<!-- End Google Tag Manager -->
<meta name="google-site-verification" content="FZa3ZyV5j40_7qnvnXcgOGz2xJjRLQQB_aRE-mkTmSY" />


{% block header %}{%endblock%}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5N6TL56"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<!--Styled Header-->
<header class="section-1 section-1-mbl">
  <div class="container">     
    <div class="row">
      <div class="col-md-12">
        <h3 class="h3-line">Give Bitcoin Cash (BCH) Without Losing Unclaimed Funds</h3> 
        <h1>Bitcoin Cash (BCH) Tips</h1>  
        <a class="btn btn-primary" href="{% url "new" %}">Generate New</a>
      </div>
    </div>
      <nav id="main-nav">
        <div class="wrap">
          <ul class="bar">
            <li {%if request.path == "/en/"%} class="active" {%endif%}><a href="/" class="bch-tip-home">Home</a></li>
            <li {%if "/statistics" in request.path %} class="active" {%endif%}><a href="/statistics" class="statistics">Stats</a></li>
            {%if "/w/" in request.path %}<li  class="active" ><a class="tip-creation">Tip Management</a></li>{%endif%}
            {%if "/gratuity-example/" in request.path %}<li  class="active" ><a class="tip-example">Sample Tip</a></li>{%endif%}
          </ul>          
        </div>
      </nav>
    </div>
  </div>
</header>

<div class="container">
  {% block content %}{%endblock%}
</div>

<div class="ui divider"></div>
<div class="footer">
<!--{% trans "Support" %}: <a href="mailto:@bitcoin.com">support_placeholder@bitcoin.com</a> -->
<!--<br/>{% trans "For donations" %}: <a href="bitcoincash:qru0g43p3j7altlw0gs0mfku6a3j6gr4zg08t293u0">bitcoincash:qru0g43p3j7altlw0gs0mfku6a3j6gr4zg08t293u0</a>-->
<!--<br/><br/>
{% for lang in languages %}<a href="/{{lang.code}}/">{{lang.name}}</a>{% if not forloop.last %}, {%endif%}{% endfor %}-->
</div>
<script>var BitcoinMenuWidth = 1140;</script>
<script type="text/javascript" src="https://menu.cdn.bitcoindotcom.net/the-footer/dist/universal-footer.js"></script>
<script src="https://menu.cdn.bitcoindotcom.net/the-menu/dist/universal-menu.js"></script>
</body>
</html>
