{% extends "base.html" %}{% load i18n %}
{% block nav_main %}active{%endblock%}
{% block content %}

<h1>What are Bitcoin.com Tips?</h1>

<p id="intro-info">
  Create tips to give Bitcoin Cash (BCH) by email or printable tickets. Recipients redeem tips by visiting a web page with instructions <a href="{% url "tips_example" %}">(example)</a>.
</p>
<p>
  
</p>

<div class="row"> 
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header faq-header">
        <h3>Customize</h3>
      </div>
      <div class="card-block">
        <p>{% trans "Set your message and amount." %}</p>           
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header faq-header"> 
        <h3>Use Crypto as Cash</h3>
      </div>
      <div class="card-block">        
        <p>Proof of work for appreciation.</p>         
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header faq-header">
        <h3>Follow Up</h3>
      </div>
      <div class="card-block">    
        <p>{% trans "Know when your tips are redeemed." %}</p>           
      </div>
    </div>
  </div>
</div>

<center>
    <h1 style="color:#fab915;">Unclaimed tips are automatically returned!</h1>        
  
    <a class="btn btn-primary" href="{% url "new" %}">Get Started</a>

    <br><br>
 
    <a href="https://bitcoincash.org/" target="_blank">What is Bitcoin Cash?</a>

    <br><br>
  
    Contact: <a href="mailto:tips-support@bitcoin.com">tips-support@bitcoin.com</a>
  </center>

{% endblock %}