{% extends "base.html" %}{% load bitcoin %}{%load i18n%}{% load l10n %}

{% block menu %}
	<div id="menu">
		<ul>
			<li><a href="/" >Home</a></li>
			<li><a href="{% url 'statistics'%}" >Statistics</a></li>
			<li><a href="#" class="activeprivate" >Waiting for payment</a></li>
		</ul>
	</div>
{%endblock%}

{% block content %}
<h1 class="ui header">{% trans "Payment Details" %}
<div class="sub header">{{wallet.ctime}}</div>
</h1>
<!--Hashtag: {% if wallet.hashtag %}{{wallet.hashtag}}{% else %}<i>not set</i>{%endif%}<br/><br/>-->

{% localize off %}

<div class="ui two column stackable grid">

<div class="column">
<div class="ui large message">
Bitstamp {% trans "rate" %}: {{wallet.rate}}<br/>
{% if wallet.divide_by %}
{% trans "Value" %}: {{wallet.divide_currency_sign}}{{wallet.divide_by|floatformat:"0"}}, 
{% trans "Quantity" %}: {{wallet.quantity}}<br/>
{% endif %}
{% trans "Donation to" %} bctip: {{wallet.price|floatformat:"0"}}%
{% if wallet.post_and_print %}Post and Print service: {{wallet.post_and_print}}{%endif%}
</div>

<div class="ui huge segment">
{% if wallet.divide_by %}
 <b>{{wallet.invoice|btc}} BTC</b>
{% else %}
 <b>Any amount of Bitcoins</b>
{% endif %}
<br/>{% trans "to address" %}<br/><a href="{{wallet.bcaddr_uri}}">{{wallet.bcaddr}}</a>
</div>

<div class="ui large blue label">
{% trans "Payment status" %}: <span id="status">{% trans "wait" %}...</span></div>

</div><div class="column">
<div class="ui segment">
<img src="/qrcode/{{wallet.key}}/" class="ui image" />
</div>
</div>

</div>
{% endlocalize %}

<script>
function wajax() {
 $('#status').html('{% trans "Checking" %}...');
 var request = $.ajax({
   url: "./wajax/",
   type: "GET"
  });
  
  request.done(function(msg) {
    if (msg=="1") {
        $('#status').html('{% trans "Paid! You will be redirected to the wallet" %}');
        setTimeout(function(){location.reload()}, 3000);
    } else {
      setTimeout(function(){$('#status').html('{% trans "not paid" %}');}, 1000);
    }
  });
}

document_ready = function() {
 //wajax();
 setInterval(wajax, 5000);
}
$(document).ready(document_ready);
</script>

{% endblock %}
