{% extends "base.html" %}{% load i18n %}{% load l10n %}

{% block content %}
<link href="/static/css/semantic-full.css" rel="stylesheet" />
<script src="/static/js/semantic-full.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/sampletip.css?version-0.1">
<div class="ui container">
<div class="ui grid">
<div class="eight wide column" style="pointer-events:none;"></div>

<div class="ui segment mains">



{% trans "Current" %} {% trans "rate" %}: ${{wallet.rate|floatformat:"2"}}
<br/><br/>



<form action="" method="post" class="ui large form">{% csrf_token %}
{{ form.non_field_errors }}

<div class="required field">
  <label>{% trans "Your Bitcoin Cash (BCH) address" %}</label>
  {% trans "All the unused funds will be returned to this address after expiration" %}<br/>
  {{ form.bcaddr_from }}
  {{ form.bcaddr_from.errors }}
</div>
  

  <div class="field"><label>{% trans "Your email address" %}</label>
 {{ form.email.errors }}
 {{ form.email }}
<div class="ui small label">{% trans "Know when your tips are redeemed or returned. Check your spam folder if you don't receive a confirmation." %}</div>
</div>

<br/>

<div class="ui stackable three column grid">
<div class="column">
  <div class="ui three column grid">
  <div class="column">
  <div class="field"><label>{% trans "Currency" %}</label>
      {{ form.divide_currency.errors }}      
      {{ form.divide_currency }}
      </div>  
  </div>
  <div class="column">
    <div class="field" id="non-jpy-qty"><label>{% trans "Tip Value" %}</label>
      {{ form.divide_by.errors }}
      {{ form.divide_by }}</div>  
    <div class="field" id="custom-jpy-qty" style="display:none;"><label>{% trans "Tip Value" %}</label>
      {{ form.divide_by_jpy.errors }}
      {{ form.divide_by_jpy }}
    </div>
  </div>

  <div class="column">
  <div class="field"><label>{% trans "# of Tips" %}</label>
      {{ form.quantity.errors }}
      {{ form.quantity }}</div>
  </div>
  </div>
  <br/>
  <div class="field"><label>{% trans "Expiration" %}</label>
   {{ form.expiration.errors }}
   {{ form.expiration }}
  </div>
  <br/>
  <!--Hide Template-->
  <!--no plans for template functionality-->
  
  <div class="field" style="display:none;"><label>{% trans "Template" %}</label>
    {{ form.template.errors }}
    {{ form.template }}
    </div>


<div class="field"><label>{% trans "Message" %}</label>
 {{ form.message.errors }}
 {{ form.message }}
 <div class="ui small label">{% trans "is printed in the center of every tip" %}</div></div>

<div class="field"><label>{% trans "Donate to" %} <a target="_blank" href="https://free.bitcoin.com/">free.bitcoin.com</a>?{% if request.LANGUAGE_CODE == "fi" %}ille{%endif%}</label>
    {{ form.price.errors }}
    {{ form.price }}
</div>
<div class="field" id="custom-tip-amount"><label>Custom Donation Percentage</label>
    {{ form.customprice.errors }}
    {{ form.customprice }}
    <div class="ui small label">Extra generous? Donate directly at <a target="_blank" href="https://free.bitcoin.com/">free.bitcoin.com!</a></div>
</div>

  
<div class="text-center"><input id="checkout-btn" type="submit" class="ui fluid bch-gold button" value="{% trans "Checkout" %}" /></div>
</div>


  <div class="column">
    <center><div class="ui bottom pointing label">summary</div></center>

<table class="ui table" id="summary-table"><thead>
 <th>{% trans "Service" %}</th>
 <th>{% trans "Amount" %}</th>
</thead>

<tbody><tr>
 <td>{% trans "Tips" %}</td>
 <td><span id="tips_usd" style="font-weight:bold"></span></td>
</tr><tr><td>
<!--{% trans "Print and Post service" %}</td><td><span id="pap_usd" style="font-weight:bold">$0</span></td>
</tr><tr><td>-->
{% trans "Faucet Donation" %}</td><td><span id="price_usd" style="font-weight:bold"></span></td>
</tr>
<!--no premium templates <tr><td>
{% trans "Premium Template" %}</td><td><span id="premium_extra" style="font-weight:bold">0</span></td>
</tr>-->
<tr style="display:none;"><td>
{% trans "Transaction Fees" %}</td><td><span id="transes_btc" style="font-weight:bold">0.0 BCH</span></td>
</tr><tr>
<td colspan="2" style="text-align:right">
 <!--{% trans "Total" %} <span id="total_sign">USD</span><br/><span id="total_usd" style="font-size:150%;font-weight:bold"></span>
 <br/>-->
 {% trans "Estimated Total" %} BCH<br/>~<span id="total_btc" style="font-size:150%;font-weight:bold"></span>
</td>
</tr></tbody></table>



</div><div class="center aligned column">
<div class="ui bottom pointing label">{% trans "example tip card" %}</div>
<div class="print-tips">

      <div class="print-tip">   

        <div class="print-tip-header">
          <img alt="Bitcoin Cash (BCH)" src="/static/img/bitcoin-cash-tips-logo-horizontal.png" />
        </div>

        <div class="print-tip-bg-wrap">
          <div class="tip-label">TIP AMOUNT</div>
          <div class="print-tip-amount">
            <div class="crypto-amount" id="crypto-amount"></div>
            <div class="fiat-amount" id="tips-sample_usd"></div>
          </div>
          <div class="exchange-rate" id="tips-sample-rate-date"></div>      
        </div>     
        
        <div class="print-tip-link">      
          <div class="tip-label">CLAIM YOUR TIP AT:</div>
          <div class="print-tip-url">tips.bitcoin.com/your-tip-url</div>
        </div>

        <div class="exchange-rate" id="tips-sample-claimby-date"></div>

        <div class="message-ctn">
          <p>Message</p>
          <div class="print-tip-message" id="tips-sample_msg"></div>
        </div>

        <div class="print-tip-footer">
          <img alt="Bitcoin.com BCH Tips" src="/static/img/bitcoin-com-logo-grey.png" />
        </div>
        
        <div class="print-tip-code">
          Tip ID #
        </div>
      </div>
    </div>

</div>

</div>


</form>
</div>


<!--
<h3>Optional Settings:</h3>
<div class="fieldWrapper">
    {{ form.hashtag.errors }}
    <label for="id_hashtag">Specify tag for <a href="{% url 'statistics'%}" target="_new">public leaderboard</a>:</label>
    {{ form.hashtag }} eg: #sanfrancisco, #starbucks, anything you like
</div>

<div class="fieldWrapper">
    {{ form.print_and_post.errors }}
    <label for="id_print_and_post">Print and Post Service (USA only)</label>
    {{ form.print_and_post }}
    <br>
</div>
 
<div class="row" id="post_address" style="opacity:0.5">
<div class="span3">
<p>Next day shipping from CA, USA. We print using color laser printer and 160g paper.</p>
<p>Price is $2+$1 for each 9 tips</p>
</div>

<div class="span3 offset1">
<div class="fieldWrapper">
<label for="id_address1">Address 1</label>
{{ form.address1.errors }}
{{form.address1}}
</div>

<div class="fieldWrapper">
<label for="id_address2">Address 2</label>
{{ form.address2.errors }}
{{form.address2}}
</div>

<div class="fieldWrapper">
<label for="id_city">City</label>
{{ form.city.errors }}
{{form.city}}
</div>
</div>

<div class="span3">
<div class="fieldWrapper">
<label for="id_state">State</label>
{{ form.state.errors }}
{{form.state}}
</div>

<div class="fieldWrapper">
<label for="id_country">Country</label>
{{ form.country.errors }}
{{form.country}}
</div>

<div class="fieldWrapper">
<label for="id_postal_code">ZIP</label>
{{ form.postal_code.errors }}
{{form.postal_code}}
</div>
</div>

</div> -->
    


<!--<div class="span6">
<br/>
<div class="text-center" id="happyness" style="opacity:0">
<img src="/static/img/happyness2.png" class="img-polaroid"/>
<br/> Thank you!
</div>
</div>-->

<script>{% localize off %}
var rate = {{wallet.rate}};

function recalc() {

//Hide the JPY tip amount
$('#custom-jpy-qty').hide()

// Get today's date for sample tip rate day and expiration date
var tipsample_today = new Date()
var date_options = { year: 'numeric', month: 'short', day: 'numeric' };
var tipsample_today_str = tipsample_today.toLocaleDateString('en-US', date_options)

$('#tips-sample-rate-date').html('1 BCH = {{cur_sign}}{{wallet.rate}} on ' + tipsample_today_str )

// Calculate Claim By Date
var expiration_label = $('[name="expiration"]').val();
switch(expiration_label) {
  case '30':
    var claimby_valid = 30
    break;
  case '90':
    var claimby_valid = 90
    break;
  case '180':
    var claimby_valid = 180
    break;
  case '365':
    var claimby_valid = 365
    break;
  default:
    var claimby_valid = 30
} 
 
 tipsample_claimby = new Date()
 tipsample_claimby.setDate(tipsample_today.getDate() + claimby_valid)
 tipsample_claimby_str = tipsample_claimby.toLocaleDateString('en-US', date_options)

 $('#tips-sample-claimby-date').html('Claim by ' + tipsample_claimby_str)

 var cur = $('[name="divide_currency"]').val();
 $('#total_sign').html(cur)
 var cur_sign = signs[cur];
 var cur_rate = rates[cur];

 if (cur == 'JPY') {
  $('#custom-jpy-qty').show()
  $('#non-jpy-qty').hide()
  var divide_by = parseInt($('#id_divide_by_jpy').val());
 }
 else {
  $('#non-jpy-qty').show()
  var divide_by = parseInt($('#id_divide_by').val());
 }

 var quantity = parseInt($('#id_quantity').val());

 // Price is the % donation to free.bitcoin.com
 var price = parseFloat($('[name=price]').val());
 var customprice = parseFloat($('[name=customprice]').val());
 if (isNaN(customprice)) {
  customprice = 0
 } 

 var transes = quantity*{{est_fee}};
 var sum = quantity*divide_by;
 var total_usd=sum;

 var message_txt = $('[name="message"]').val()
 $('#tips-sample_msg').html(message_txt)
 
 $('#tips_usd').html(cur_sign+sum);
 $('#tips-sample_usd').html('~' + cur_sign+sum/quantity);

 if (price>0) {
  // Hide custom tip option
  $('#custom-tip-amount').hide()
  var price_usd = sum * price / 100;
  $('#price_usd').html(cur_sign+price_usd.toFixed(2));
  var bch_price_less_donations = ((total_usd/rate/cur_rate)/quantity).toFixed(8);
  total_usd=total_usd+price_usd;
 } else {
  // Since the drop-down value of customprice is 0, this loop is entered when 'Custom' is selected
  // However, the initial value set in forms.py is 5%
  $('#price_usd').html(cur_sign+"0");
  var bch_price_less_donations = ((total_usd/rate/cur_rate)/quantity).toFixed(8);
  // If tip amount is custom, show custom tip field
  // Note that selecting "Custom" defaults to zero
  $('#custom-tip-amount').show()
  // Set price to be the custom price
  var price_usd = sum * customprice / 100;
  $('#price_usd').html(cur_sign+price_usd.toFixed(2));
  total_usd = total_usd + price_usd
 }

 $('#total_usd').html(cur_sign+total_usd);
 $('#transes_btc').html(transes.toFixed(6)+" BCH");

 var total_btc = (total_usd/rate/cur_rate+transes).toFixed(6);
 $('#total_btc').html(total_btc);

 $('#crypto-amount').html(bch_price_less_donations + " BCH")
}

/////////////
document_ready = function() {
  recalc();

 // $('input[name="bcaddr_from"]').change(function() {
 //  a=$('input[name="bcaddr_from"]').val();
 //  if (a.length>27) {
 //     $('#boxzero').css('background-color','#b6ffc8');
 //  } else {
 //     $('#boxzero').css('background-color','#fffbb6');
 //  }
 // });

  $('[name="divide_currency"]').change(function() {
    recalc();
  });
  
  //Update message in real time as it is being typed
  $('[name="message"]').keyup(function() {
    recalc();
  });

  $('[name="expiration"]').change(function() {
    recalc();
  });

  $('[name="template"]').change(function() {
    recalc();
  });

  $('[name="target_language"]').change(function() {
    var lang = $('[name="target_language"]').val();
    $('#id_message').val(messages[lang]);
  });

  $('#id_divide_by').change(function() {
    recalc();
  });

  $('#id_divide_by_jpy').change(function() {
    recalc();
  });

  $('#id_quantity').change(function() {
    recalc();
  });

  $('[name="price"]').change(function() {
    recalc();
    var price = parseFloat($('[name=price]').val());
  });

  $('[name="customprice"]').change(function() {
    recalc();
  });
  $('[name="customprice"]').keyup(function() {
    recalc();
  });

  $('[name="template"]').change(function() {
    var p = $('[name="template"]').val();
    $("#preview").attr("src","/static/img/examples/tips-{{request.LANGUAGE_CODE}}-"+p+".png");
  });
}

$(document).ready(document_ready);
var rates = {{json_rates|safe}};
console.log(rates)

var signs = {{json_signs|safe}};
var messages = {{json_messages|safe}};
</script>{% endlocalize %}
{% endblock %}
