{% extends "base.html" %}{% load i18n %}{% load bitcoin %}

{% block content %}
<h1 class="ui header">{% trans "Your Wallet" %}
<div class="sub header">
    {% trans "Paid on" %} {{wallet.atime}}
</div></h1>

<div class="ui two column stackable grid">

<div class="ui column">
<div class="ui message">
{% trans "BCTip value" %}: {{wallet.divide_currency_sign}}{{wallet.divide_by|floatformat:"0"}}
<br/>{% trans "Quantity" %}: {{wallet.quantity}}<br/>
{% trans "Template" %}: {{wallet.template}} [{{wallet.target_language}}]<br/>
{% trans "Message" %}: {{wallet.message}}
<br/><br/>

{% trans "Your bitcoin address" %}: <a href="bitcoin:{{wallet.bcaddr_from}}">{{wallet.bcaddr_from}}</a><br/>

{% trans "Email" %}: <a href="mailto:{{wallet.email}}">{{wallet.email}}</a><br/>
{% if wallet.post_and_print %}{% trans "Print and Post service" %}: {{wallet.post_and_print}}<br/>{%endif%}

<!--Hashtag: {% if wallet.hashtag %}{{wallet.hashtag}}{% else %}<i>not set</i>{%endif%}<br/><br/>-->
</div>
</div>


<div class="ui column">
<div class="ui fluid vertical menu">
 <a class="item" href="./pdf/"><i class="download icon"></i>{% trans "Download" %}<div class="ui green label">PDF A4</div></a></a>
  <a class="item" href="./pdf-us/"><i class="download icon"></i></i>{% trans "Download" %} <div class="ui label">PDF US Letter</div></a>
 <a class="item" href="./png/"><i class="download icon"></i>{% trans "Download" %} <div class="ui green label">PNG</div></a>
  <a class="item" href="./odt/"><i class="download icon"></i>{% trans "Download" %} <div class="ui label">ODT</div></a>

</div>
</div>

</div>


<div class="ui two column stackable grid">
<div class="column"></div>
<div class="right aligned column">
Bitstamp {% trans "rate at time of purchase" %}: ${{wallet.rate|floatformat:"2"}}<br/>
{% trans "Current" %} {% trans "rate" %} (Bitstamp): ${{rate|floatformat:"2"}}</div>
</div>

<br/>
<div class="ui tiny positive message">{% trans "Advice" %}: {% trans "You can email URL of the tip to your friend" %}</div>
<form action="./comments/" method="post">{% csrf_token %}

<table class="ui striped stackable table">
<thead>
<tr><th>#ID</th>
<th>{% trans "Comment" %}</th>
<th>BTC<br/>{{wallet.divide_currency}}</th>

<th>{% trans "Link" %}<br/>{% trans "Activated" %}</th></tr>
</thead>

<tbody>
{% for tip in tips %}
<tr>
 <td>{{tip.id}}<br/>{% trans "Visited" %}: {{tip.times}}</td><td>
 <div class="ui input">
 <input type="text" value="{{tip.comment}}" name="cmnt{{tip.id}}" placeholder="no comment">
 </div>
 {% if tip.comment_time %}<br/>{{tip.comment_time.date}}{%endif%}</td>
 <td>
 {{tip.balance|btc}}<br/>
 {{wallet.divide_currency_sign}}{{tip.balance_fiat}}
 </td>
 
<td><a href="{{tip.get_absolute_url}}" target="_new">{{tip.get_absolute_url}}</a>
<br/>
 {% if tip.activated %}
   <i class="fa-calendar-check-o icon"></i> {{tip.atime.date}}
 {% elif tip.expired %}
   <i class="undo icon"></i> {% trans "expired" %} {% trans "and" %} {% trans "returned" %}
 {% else %}
   <i class="fa-calendar-o icon"></i> {% trans "not activated" %}
 {% endif %}
</td>
</tr>
{% endfor %}
</tbody></table>

<input type="submit" class="ui submit red button" value="{% trans "save comments" %}">

</form>
{% endblock %}
