body {
  /*background-color: #10719a;*/
  background-color: #292b2c;
  /*background-color: #e0873f;*/
  color: #e1f0f0;
  font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Montserrat, sans-serif;
}
a {
  color:#fab915;
}
a:hover {
  color: #fab915;
  text-decoration: underline;
}
.ui.header {
  font-family: Montserrat, sans-serif;
  color: #fff;
}
.ui.header .sub.header {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.ui.bch-gold.button {
  color:#000;
  background-color: #fab915;  
  font-family: Montserrat,sans-serif;
}
.ui.submit.bch-gold.button.printbtn {
  margin-left: 1rem;
  font-size: 2rem;    
}
.header-left {
  float:left;
}
.header-right {
  float:right;
  text-align: right;
}
.header-wrapper {
  overflow:auto;
}


.ui.bch-gold.button:hover {
  color:#fff;
  background-color: #E7A603!important;
  transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.ui.segment.mains {
    /*background-color: #f8f8ec;*/
    color: #fff;
    background-color:#454a4c;
}
.ui.segment{
  color: #fff;  
}

.footer {
 margin-bottom:40px;
}

.footer a{
 color:#e8d069; 
}

.footer a:hover {
 color:#e8d069; 
 text-decoration: underline;
}

#home-banner img {
  width:100%;
  margin-bottom:12px;
}

.ui.three.column.grid > .column > p {
  font-size:18px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #353839;
  border: 1px solid #525759;
  border-radius: .25rem;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #464a4c;
  border-bottom: 1px solid #525759;
}
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.faq-header {
  color: #fab915;
}
.card-block {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-block p {
  font-size:16.5px;
  margin: 0;
}

#intro-info {
  font-size:1.4rem;
}

/* Deprecating semantic-full */
body {
  margin:0;
}
.card-header h3 {
  margin:0;
}

a {
  text-decoration: none;
}

.table-striped {
  color:#000000;  
  width:100%;
}

.table-striped tr {
  border-collapse: separate;
}

.table-striped td {
  padding:12px;
}

.table-striped tr:nth-child(even) {
  background-color: #f2f2f2
}
.table-striped tr:nth-child(odd) {
  background-color: #fff
}

.statschart {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin: 1rem 0;
  padding: 1em 1em;
  border-radius: .28571429rem;
  border: 1px solid rgba(34,36,38,.15);
}

.balancewarning {
  color: #fff;
}

.ui .label > a {
  color: #000 !important;
}