.fieldWrapper ul {
 list-style-type:none;
}

.errorlist {
 color:#f33;
}

a {
 color:#0088cc;
}

a:hover {
 color:#0055cc;
 text-decoration: underline;
}

#footer a {
 color:#e8d069; 
}

#footer a:hover {
 color:#e8d069; 
 text-decoration: underline;
}

table tr {
 background:#eeeeee;
}

table tr {
 background:#f4f4e5;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #fcfdf8;
}
.lbox {
 padding:0.5em
}
